body {
    background-color: rgb(162, 162, 162);
    margin: 0;
    text-align: center;
}

.start {
    background-color: rgb(95, 185, 234);
    padding: 10px;
    font-family: Noto Serif, Arial, Helvetica, sans-serif;
    color: rgb(67, 66, 68);
    font-size: 15px;
    text-align: center;
    overflow: hidden;
}

.picbod {
    background-color: rgb(95, 185, 237);
    padding-bottom: .01px;
    font-family: Helvetica, Georgia, 'Times New Roman', Times, serif;
    color: rgb(67, 66, 68);
    font-size: 15px;
}

.me {
    border: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgb(108, 230, 165);
    transition: 0.9s;
}

.me:hover {
    box-shadow: 0 8px 16px 0 rgb(10, 47, 255);
    border-radius: 10px;
    transition: 1s;
}

.list {
    background-color: rgb(100, 185, 238);
    padding: 20px;
    font-family: sans-serif;
    color: rgb(67, 66, 68);
    font-size: 15px;

}

a:visited {
    color: rgb(215, 98, 26);
    text-decoration: none;
}

a:hover {
    color: rgb(105, 11, 246);
}

a:link {
    text-decoration: none;
}

.contactbutton {
    border: 10px;
    border-color: rgb(18, 140, 167);
    background-color: rgb(19, 95, 113);
    border-style: groove;
    color: black;

}

.secondhr{
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 100%;
    border-color: rgb(9, 161, 166);

}

.firsthr {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 100%;
    border-color: rgb(33, 111, 147);
}

.thirdhr {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 100%;
    border-color: rgb(9, 161, 166);
}

.fourthhr {
    margin-top: -30px;
    border-style: none;
    border-top-style:solid;
    border-width: 3px;
    margin-left: -50px;
    width: 110.5%;
    border-color: rgb(11, 13, 13);
}

.cloud {
    position: absolute;
    top: 5px;
    left: -50px;
    max-width: 200px;
}

.sun {
    position: absolute;
    top: -150px;
    right: -5px;
    max-width: 300px;
    width: 100%;
}

.dragon {
    position: absolute;
    top: -200px;
    right: 200px;
    max-width: 300px;
    width: 100%;
}

.langhead {
    text-align: center;
}

.languages {
    padding-bottom: 20px;
}

.java {
    width: 7%;
    float: left;
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 300px
}

/*
.cplus {
    max-width: 60px;
    float:right;
    margin-top: -5px;
    margin-right: 200px;
}
*/

.jlang {
    float: right;
    margin-right: 330px;
    margin-top: 20px;

}

.clang {
    float: right;
    margin-right: -30px;
    margin-top: 50px;


}

.cfdate {
    float: left;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 70px;

}

.fordate {
    float: left;
    margin-left: -130px;
    margin-top: 19px;

}

.disc1 {
    margin-right: 200px;

}

.disc2 {
    margin-right: 200px;
    margin-top: 20px;
}

.cfa {
    float: right;
    margin-top: -80px;
    margin-right: 70px;
    width: 20%;

}

.computer {
    float: left;
    margin-right: -100px;
    margin-top: -100px;
    margin-left: 200px;
}

.emo1 {
    float: right;
    margin-left: -100px;
    margin-right: 240px;
    margin-top: -25px;
}

.emo2 {
    float: right;
    margin-left: -100px;
    margin-right: 240px;
    margin-top: -25px;
}

.emo3 {
    float: right;
    margin-left: -300px;
    margin-right: 300px;
    margin-top: -25px;
}

.skill1 {
    padding-bottom: 10px;
}

.skill2 {
    padding-bottom: 10px;
}

.skill3 {
    padding-bottom: 10px;
}

.end {
    background: linear-gradient(5deg, rgb(26, 183, 255) 0%, rgb(20, 183, 255) 35%, rgb(4, 159, 220) 100%);
    color: rgb(57, 63, 68);
    border: 30px;
    border-style: solid;
    border-color: rgba(255, 88, 51, 0.792);
}

.copyr {
    margin-top: 30px;
}



/*contact Page css*/
.contactbod {
    background-color: rgba( 95, 185, 2370,.895);
}
.card{
    background-color: rgb(237, 237, 239);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    box-shadow: 0 .5px 10px 0 rgb(1, 2, 1);
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height:50%;
    
}
.cardname{
    padding-bottom: 10px;
    padding-top:50px;
}
.cardemail{
    padding-bottom: 10px;
}
.cardmessage{
    padding-bottom: 10px;
}
.contacthr{
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 100%;
    border-color: rgba(106, 0, 255,0.5);
}
.toptext,.cardemail,.cardmessage,.submit,.cardname{
    font-family: 'Courier New', Courier, monospace;
}
.phone{
    font-family: 'Courier New', Courier, monospace;
}
.addresstxt{
    font-family: 'Courier New', Courier, monospace;
}

